:root {
    --color-primary: #3282b8;
    --color-primary-light: #009cf9;
    --color-primary-dark: #0f4c75;
    --color-dark: #16171a;
    --color-darkbg: #292929;
    --color-white: #fcf8e8;
    --color-lightbg: #f9f9f9;
    --color-grey: #cccccc;
    --font-primary: 'Rubik', sans-serif;
    --box-shadow-small-dark: 0px 1px 7px 0px rgba(0, 0, 0, .2);
    --box-shadow-small-light: 0px 1px 7px 0px rgba(69, 67, 96, .2)
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 56.25%
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 53%
    }
}

body {
    font-family: var(--font-primary);
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-dark)
}

img {
    max-width: 100%
}

section {
    margin: 6rem 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
    font-weight: 700
}

.heading-1 {
    font-size: 7rem
}

.heading-2 {
    font-size: 3.5rem
}

.heading-3 {
    font-size: 2.8rem
}

.heading-4 {
    font-size: 2.1rem
}

.heading-5 {
    font-size: 1.8rem
}

.color-primary {
    color: var(--color-primary)
}

.color-primary-light {
    color: var(--color-primary-light)
}

.color-primary-dark {
    color: var(--color-primary-dark)
}

.color-white {
    color: var(--color-white)
}

.color-dark {
    color: var(--color-dark)
}

.lightbg {
    background-color: var(--color-lightbg)
}

.card {
    padding: 2rem;
    background-color: #fff;
    box-shadow: var(--box-shadow-small-dark)
}

.wrapper {
    grid-column: center-start / center-end
}

.btn {
    border: 1px solid transparent;
    padding: 1rem 3rem;
    font-size: 1.6rem;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    transition: all .2s
}

.btn:hover {
    background-color: var(--color-primary-dark);
    border: 1px solid transparent;
    transform: translateY(-2px) scale(1.05)
}

.btn--ghost {
    color: var(--color-white);
    border: 1px solid var(--color-primary)
}

.btn--full {
    color: white;
    background-color: var(--color-primary)
}

.btn--block {
    display: block;
    text-align: center
}

.btn--small {
    padding: .5rem 1rem
}

.title-box {
    margin-bottom: 6rem
}

.title-box h2 {
    color: var(--color-primary-dark);
    text-transform: capitalize
}

.title-box h2::after {
    content: "";
    display: block;
    width: 10rem;
    height: 1.75px;
    background-color: var(--color-primary-light);
    border-radius: 10px
}

.skills-card {
    background-color: rgba(38, 38, 38, 0.938);
    min-height: 10rem;
    border-radius: 2rem;
    border: 1px solid rgba(204, 204, 204, 0.2);
    padding: 4rem 3rem;
    box-shadow: var(--box-shadow-small-dark);
    color: var(--color-grey);
    width: 80%;
    margin: 0 auto
}

@media only screen and (max-width: 800px) {
    .skills-card {
        width: 90%
    }
}

@media only screen and (max-width: 400px) {
    .skills-card {
        width: 95%
    }
}

.skills-card>* {
    margin-bottom: 2rem
}

.skills-card__img-container {
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto
}

.skills-card__img-container img {
    height: 9rem;
    width: auto
}

.skills-card__heading {
    position: relative;
    z-index: 2
}

.skills-card__heading::before {
    content: "";
    display: block;
    width: 6.2rem;
    height: 1rem;
    background-color: rgba(15, 76, 117, 0.8);
    border-radius: 2px;
    position: absolute;
    top: 2rem;
    z-index: -1
}

.skills-card .progress-container {
    position: relative;
    border: 1px solid rgba(204, 204, 204, 0.2);
    height: 1.5rem;
    overflow: hidden;
    width: 100%;
    border-radius: 10px
}

.skills-card .progress-container .progress-bar {
    display: inline-block;
    height: 100%;
    border-radius: 10px
}

.skills-card .progress-container .progress-bar.html-bar {
    background-color: #FF5722;
    width: 35%
}

.skills-card .progress-container .progress-bar.css-bar {
    background-color: #2196F3;
    width: 25%
}

.skills-card .progress-container .progress-bar.sass-bar {
    background-color: #CD6799;
    width: 10%
}

.skills-card .progress-container .progress-bar.git-bar {
    background-color: #DE4C36;
    width: 15%
}
.skills-card .progress-container .progress-bar.python-bar{
    background-color: #ebe730;
    width: 80%
}
.skills-card .progress-container .progress-bar.pentesting-bar{
    background-color: #e23434;
    width: 30%
}
.skills-card .progress-container .progress-bar.phishing-bar{
    background-color: #f0cc95;
    width: 45%
}
.skills-card .progress-container .progress-bar.network-bar{
    background-color: #d8e42f;
    width: 74%
}
.skills-card .progress-container .progress-bar.socialeng-bar{
    background-color: #d151cb;
    width: 65%
}

.portfolio-card {
    display: grid;
    gap: 1.5rem;
    justify-items: start;
    align-items: center;
    border-radius: 10px;
    transition: all .2s
}

.portfolio-card:first-child {
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    color: white
}

.portfolio-card:hover {
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    color: white;
    transform: translateY(-5px);
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.6)
}

.portfolio-card__img {
    width: 6rem;
    height: 6rem
}

.portfolio-card h4 {
    z-index: 9
}

.portfolio-card h4::after {
    content: "";
    display: block;
    width: 6rem;
    height: 1rem;
    background-color: rgba(15, 76, 117, 0.5);
    margin-top: -1.3rem;
    z-index: -1;
    border-radius: 2px
}

.portfolio-card p {
    font-size: 1.6rem;
    font-weight: 300
}

.header {
    padding: 1rem 2rem;
    background-color: rgba(22, 23, 26, 0.9);
    height: 8vh;
    font-size: 1.6rem
}

.navigation__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center
}

.navigation__item:not(:last-child) {
    margin-right: 2.2rem
}

.navigation__link {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    transition: all .2s
}

.navigation__link:hover {
    color: var(--color-primary-light);
    border-bottom: 2px solid var(--color-primary-dark)
}

.logo {
    height: 5rem
}

.footer {
    border-top: 1px solid var(--color-grey);
    padding: 7rem 3rem;
    background-color: var(--color-darkbg);
    font-size: 1.6rem
}

.footer h3 {
    text-align: center;
    color:#d2d0df;
    font-weight: 500;
    margin-bottom: 2rem
}

.footer [class^='col'] {
    align-self: center;
    justify-items: start
}

.footer__content {
    display: flex;
    justify-content: center;
    align-items: center
}

.footer__link {
    text-decoration: none;
    transition: all .2s;
    border-radius: 10px;
    overflow: hidden
}

.footer__link:hover {
    transform: translateY(-3px);
    box-shadow: var(--box-shadow-small-dark)
}

.footer__link:not(:last-child) {
    margin-right: 1rem
}

.footer__logo {
    width: 4rem
}

.footer .copyright-text {
    margin-top: 2rem;
    color: #d2d0df;
    text-align: center
}

.main-grid {
    display: grid;
    grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end];
    grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end];
    grid-template-rows: 90vh repeat(3, -webkit-min-content);
    grid-template-rows: 90vh repeat(3, min-content);
    grid-auto-rows: -webkit-min-content;
    grid-auto-rows: min-content
}

@media only screen and (max-width: 400px) {
    .main-grid {
        grid-template-columns: [full-start] minmax(1.5rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(1.5rem, 1fr) [full-end];
        grid-template-columns: [full-start] minmax(1.5rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(1.5rem, 1fr) [full-end]
    }
}

.grid-2col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem
}

@media only screen and (max-width: 768px) {
    .grid-2col {
        grid-template-columns: 1fr
    }
}

.full-bleed-grid {
    display: grid;
    grid-template-columns: [full-start] minmax(5rem, 1fr) [center-start] repeat(4, [col-start] minmax(-webkit-min-content, 29rem) [col-end]) [center-end] minmax(5rem, 1fr) [full-end];
    grid-template-columns: [full-start] minmax(5rem, 1fr) [center-start] repeat(4, [col-start] minmax(min-content, 29rem) [col-end]) [center-end] minmax(5rem, 1fr) [full-end]
}

.grid-3col {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 3rem
}

@media only screen and (max-width: 768px) {
    .grid-3col {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media only screen and (max-width: 600px) {
    .grid-3col {
        grid-template-columns: 1fr
    }
}

.hero {
    background-image: linear-gradient(to right bottom, rgba(22, 23, 26, 0.9), rgba(22, 23, 26, 0.9)), url(../../images/hacker1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1/2;
    grid-column: full-start/ full-end;
    margin: 0
}

.hero__content {
    color: var(--color-white);
    text-align: center
}

.hero__content>*:not(:last-child) {
    margin-bottom: 1rem
}

.hero__content h3 {
    font-weight: 300
}

.hero__content h3::after {
    content: "";
    display: inline-block;
    width: 32rem;
    height: 1.150px;
    margin-left: 1rem;
    background-color: var(--color-primary)
}

@media only screen and (max-width: 450px) {
    .hero__content h1 {
        font-size: 4.5rem
    }
}

.hero__content h1::after {
    content: "";
    display: block;
    width: 20rem;
    height: 2rem;
    margin-top: -4rem;
    margin-bottom: 2rem;
    background-color: rgba(0, 156, 249, 0.4)
}

@media only screen and (max-width: 450px) {
    .hero__content h1::after {
        height: 1.3rem;
        width: 10rem;
        margin-left: 4.5rem;
        margin-top: -3rem
    }
}

.hero__content h4 {
    font-weight: 400
}

.hero__content .btns {
    margin-top: 2rem
}

.hero__content .btns>*:not(:last-child) {
    margin-right: 2rem
}

#about {
    grid-row: 2/3;
    grid-column: center-start / center-end
}

.about__img-col {
    place-self: center
}

.about__img-col lottie-player {
    width: 40rem;
    height: 40rem
}

@media only screen and (max-width: 360px) {
    .about__img-col lottie-player {
        width: 25rem
    }
}

.about__text-col {
    place-self: center;
    font-size: 1.6rem
}

#skills {
    grid-row: 3/4;
    grid-column: full-start / full-end;
    padding: 8rem 0;
    background-color: var(--color-darkbg)
}

#skills .title-box h2 {
    color: var(--color-white)
}

.skills__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem
}

@media only screen and (max-width: 600px) {
    .skills__content {
        grid-template-columns: 1fr
    }
}

.skills__img-col img {
    width: 40rem;
    height: auto
}

#portfolio {
    grid-row: 4/5;
    grid-column: center-start / center-end
}

#contact {
    grid-row: 5/6;
    grid-column: center-start / center-end;
    font-size: 1.6rem
}

#contact .title-box {
    margin-bottom: 2rem
}

#contact h4 {
    margin-bottom: 2rem;
    font-weight: 400
}