:root {
    --color-primary: #3282b8;
    --color-primary-light: #009cf9;
    --color-primary-dark: #0f4c75;

    --color-dark: #16171a;
    --color-darkbg: #292929;
    --color-white: #fcf8e8;
    --color-lightbg: #f9f9f9;
    --color-grey: #cccccc;
    --font-primary: 'Rubik', sans-serif;

    --box-shadow-small-dark: 0px 1px 7px 0px rgba(0, 0, 0, .2);
    --box-shadow-small-light: 0px 1px 7px 0px rgba(69, 67, 96, .2);
}

$color-primary: #0f4c75;
$color-primary-light: #009cf9;
$color-primary-dark: #0f4c75;

$color-dark: #16171a;
$color-grey: #cccccc;