.header {
    padding: 1rem 2rem;
    background-color: rgba($color-dark, .9);
    height: 8vh;
    font-size: 1.6rem;

}

.navigation {


    &__list {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    &__item {

        &:not(:last-child) {
            margin-right: 2.2rem;
        }

    }

    &__link {
        text-decoration: none;
        color: white;
        border-bottom: 2px solid transparent;
        transition: all .2s;

        &:hover {
            color: var(--color-primary-light);
            border-bottom: 2px solid var(--color-primary-dark);
        }

    }
}

.logo {
    height: 5rem;
}