.skills-card {
    background-color: rgba(38, 38, 38, 0.938);

    min-height: 10rem;
    border-radius: 2rem;
    border: 1px solid rgba($color-grey, .2);
    padding: 4rem 3rem;
    box-shadow: var(--box-shadow-small-dark);
    color: var(--color-grey);

    width: 80%;
    margin: 0 auto;

    @include respond(800px) {
        width: 90%;
    }
    @include respond(400px) {
        width: 95%;
    }

    &>* {
        margin-bottom: 2rem;
    }

    &__img-container {
        // clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
        // background-color: var(--color-primary-light);
        width: 60%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;

        img {
            height: 9rem;
            width: auto;
        }
    }

    &__heading {
        position: relative;
        z-index: 2;

        // &::after {
        //     content: "";
        //     display: inline-block;
        //     width: 50%;
        //     height: 1px;
        //     background-color: rgba($color-grey, .2);
        //     border-radius: 10px;
        //     margin-left: 2rem;
        // }

        &::before {
            content: "";
            display: block;
            width: 6.2rem;
            height: 1rem;
            background-color: rgba($color-primary, .8);
            border-radius: 2px;
            position: absolute;
            top: 2rem;
            z-index: -1;
        }
    }

    .progress-container {
        position: relative;
        border: 1px solid rgba($color-grey, .2);
        height: 1.5rem;
        overflow: hidden;
        width: 100%;
        border-radius: 10px;

        .progress-bar {
            display: inline-block;
            height: 100%;
            border-radius: 10px;

            &.html-bar {
                background-color: #FF5722;
                width: 80%;
            }

            &.css-bar {
                background-color: #2196F3;
                width: 92%;
            }

            &.sass-bar {
                background-color: #CD6799;
                width: 90%;
            }

            &.git-bar {
                background-color: #DE4C36;
                width: 80%;
            }
        }
    }

}