.color-primary {
    color: var(--color-primary);
}

.color-primary-light {
    color: var(--color-primary-light);
}

.color-primary-dark {
    color: var(--color-primary-dark);
}

.color-white {
    color: var(--color-white);
}

.color-dark {
    color: var(--color-dark);
}

.lightbg {
    background-color: var(--color-lightbg);
}

.card {
    padding: 2rem;
    background-color: #fff;
    box-shadow: var(--box-shadow-small-dark);
}

.wrapper {
    grid-column: center-start / center-end;
}